@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
    padding: 0px;
    margin:0px;
    background: rgb(0, 0, 0);
    
}

.startscreen {
    display: flex; /* flex */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}

.startscreen h2 {
    font-size: 4.5vw;
    color: #EDDD00;
    white-space:nowrap;
    
}

button#start {
    text-align: center;
    cursor: pointer;
    font-size: 3.5vw;
    border: none;
    color: white;
    position: relative;
    transition-duration: 0.4s;
    margin-bottom: 8%;
    margin-top: 8%;
}

button#start:hover {
    color: #770098;
}

.startscreen p {
    font-size: 2vw;
    color:#A3A3A3;
    text-align: center;
    line-height: 150%;
}

.startscreen a{
    text-align: center;
    color: #770098;
    position: absolute;
    bottom: 0;
    margin:auto auto 5px auto;
    text-decoration: none;
}

.gamescreen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}

.gamescreen h2 {
    font-size: 5vw;
    color: #EDDD00;
    white-space:nowrap;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.gamescreen #rock, #paper, #scissors {
    transition-duration:0.4s;

}

.options {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.gamescreen #rock:hover, #paper:hover, #scissors:hover {
    filter: brightness(10);
    transform: scale(1.1);
    
}

.gamescreen .pick {
    font-size: 2vw;
    color: #A3A3A3;
    margin-bottom: 5%;
    text-align: center;
}

.gamescreen div.scoretab {
    font-size: 1.5vw;
    color: #EDDD00;
    white-space:nowrap;
    line-height: 150%;
    
}

#tag {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    text-decoration: none;
    color: #770098;
    font-size: 1.5vw;
}

@media only screen and (max-width: 600px) {
    .gamescreen img {height:50px;}
}

@media only screen and (min-width: 600px) {
    .gamescreen img {height:100px;}
}

@media only screen and (min-width: 992px) {
    .gamescreen img {height:150px;}
}


.roundresultscreen {
    display: none; /* none */
    justify-content: center;
    align-items: center;
    min-height:100vh;
    margin: 0;
}

.roundresultscreen h2.roundround {
    font-size: 5vw;
    color: #EDDD00;
    white-space:nowrap;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.roundresultscreen h2.resulttxt {
    font-size: 5vw;
    color: white;
}

div .middlecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

div .leftcolumn p, div .rightcolumn p {
    font-size: 3vw;
    color: #A3A3A3;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}

div .middlecontainer .roundround {
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

div .middlecontainer .resulttxt {
    margin: 18% 15px 18% 15px;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
} 

div.playerchoice, div.computerchoice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:5%;
    margin-right: 5%;

}


.roundresultscreen #nextround {
    text-align: center;
    cursor: pointer;
    font-size: 1.5vw;
    border: none;
    color: #A3A3A3;
    position: relative;
    transition-duration: 0.4s;
    margin-top: 10%;
}
.roundresultscreen #nextround:hover {
    color: white;
}

.roundresultscreen div.scoretab {
    font-size: 1.5vw;
    color: #EDDD00;
    white-space:nowrap;
    line-height: 150%;
}

/* change the img to vis/hidden */

.playerchoice .paper {
    display: none;
}
.playerchoice .rock {
    display: none;
}
.playerchoice .scissors {
    display: none;
}

.computerchoice .paper {
    display: none;
}
.computerchoice .rock {
    display: none;
}
.computerchoice .scissors {
    display: none;
}

@media only screen and (max-width: 600px) {
    .roundresultscreen img {height:50px;}
}

@media only screen and (min-width: 600px) {
    .roundresultscreen img {height:100px;}
}

@media only screen and (min-width: 992px) {
    .roundresultscreen img {height:150px;}

}
